.totalSales-background{
    background: linear-gradient(to right, #12370b, #0d6f1d);
    color: white;
}
.total-orders-background{
    background: linear-gradient(to left, #e38800, #ff5604); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;

}
.pending-orders-background{
    background: linear-gradient(to left, #e75a14, #f71015); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;

}
.new-customer-background{
    background: linear-gradient(to right, #2193b0, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;

}


.overview-icon{
    font-size: 35px;
}