.totalSales-background{
    background: linear-gradient(to right, #1b8d07, #24cc40);
    color: white;
}
.total-orders-background{
    background: linear-gradient(to left, #fdc830, #f37335); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;

}
.pending-orders-background{
    background: linear-gradient(to left, #ff9763, #e24f52); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;

}
.new-customer-background{
    background: linear-gradient(to right, #2193b0, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;

}


.overview-icon{
    font-size: 35px;
}